{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "line-comment-position": [
      "error",
      {
        "position": "above"
      }
    ],
    "eol-last": [
      "error",
      "always"
    ]
  }
}
